.header-bg {
  background:#2d499d;
  margin:-.5em;
  margin-top:-.5em;
}


/* Top Nav
================*/
.logo{
  color:white;
}

.nav-links, .sign-in{
  margin-top:1.7em;
  text-align:center;
}

.nav-links a{
  font-size:.9em;
  color:white;
  margin:1.2em;
  opacity:0.7;
  text-transform:uppercase;
}

.sign-in {
  text-align:right;
}

.sign-in a{
  color:white;
  margin:1em;
}

.login {
  text-transform:uppercase;
  background-color:#273f87;
  opacity:0.7;
  padding:.7em;
  border-radius:5px;
}

.draw {
  background-color:#f1721d;
  padding:.7em 1.2em .7em 1.2em;
  border-radius:5px;
}

/* Main Pitch
===================*/
.main-pitch{
  color:white;
  text-align:center;
}

.headline{
  font-size:3.5em;
  padding-top:1em;
  padding-bottom:.3em;
}

.subtext{
  font-size:1.2em;
  padding-bottom:3em;
}

/* White Box
===================*/
.white-box {
  background:white;
  border-radius:.5em;
  margin-bottom:2em;
  padding:1em;
}

.white-box a{
  color:white;
  text-decoration:none;
}

.white-box p:nth-child(even){
  padding-bottom:2em;
}

.gliffyonline, .confluence{
  font-size:2em;
}

.bolded{
  font-weight:bold;
}

.start-drawing, .plugin{
  text-transform:uppercase;
  font-size:1.5em;
  font-weight:bold;
  background-color:#f1721d;
  padding:.5em 1em .5em 1em;
  border-radius:.5em;
  box-shadow:0px 1px 0px black;
}

.plugin{
  background-color:yellowgreen;
}

.col-xs-1 .line{
  width:1px;
  height:80%;
  border:1px solid black;
}
